  /* Base */
  html {
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 28px;
    scroll-behavior: smooth;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  a {
    text-decoration: none;
    color: inherit;
    font: inherit;
  }

  ul {
    list-style-type: none;
    padding-inline-start: 0;
  }

  ol {
    list-style-type: none;
    padding-inline-start: 0;
  }

  /* Layout */
  
  .one,
  .two-thirds,
  .one-fourth,
  .half {
    width: 100%;
  }

  .one-third-mobile {
    width: calc(100% / 3);
    float: left;
  }
  
  @media only screen and (min-width: 1024px) {
    .one {
      width: 100%;
    }
    .half {
      width: calc(100% / 2);
    }
    .one-third {
      width: calc(100% / 3);
    }
    .one-fourth {
      width: calc(100% / 4);
    }
    .two-thirds {
      width: calc(100% / 3 * 2);
    }
    article,
    aside {
      float: right;
    }
  }

  section::before,
  section::after {
    display: table;
    content: " ";
    clear: both;
  }

  aside {
    margin-bottom: 10px;
  }

  h1 { font-size: 3rem; }
  h2 { font-size: 2.4rem; }
  h3 { font-size: 2.17rem; }
  h4 { font-size: 2.12rem; }
  h5 { font-size: 1.83rem; }
  h6 { font-size: 1.75rem; }
  
  h1,h2,h3,h4,h5,h6 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
  }

  body {
    font-family: 'Martel', serif;
    font-weight: 400;
  }

  hr {
    visibility: hidden;
  }

  /* Colors */

  .bck-soft-grey {
    background-color: #C5D0DD;
  }

  .bck-blue {
    background-color: #2B394A;
  }

  .bck-red {
    background-color: #FDA5A4;
  }

  .bck-white {
    background-color: white;
  }

  .color-soft-grey {
    color: #C5D0DD;
  }

  .color-blue {
    color: #2B394A;
  }

  .color-red {
    color: #FDA5A4;
  }

  .color-white {
    color: white;
  }

  /* Components */
  .font-small {
    font-size: 0.9rem;
  }

  .shadow-blue {
    box-shadow: 0px 2px 5px 0px #2B394A;
  }

  .height-vh {
    height: 100vh;
  }

  .line-height-xl {
    line-height: 3.5rem;
  }

  .line-height-l {
    line-height: 3rem;
  }

  @media only screen and (min-width: 800px) {
    .line-height-l {
      line-height: 4rem;
    }
  }

  .align-center {
      text-align: center;
  }

  .margin-font {
    margin: 0.67em 0;
  }

  .margin-align-center {
      margin: 0 auto;
      width: 100%;
  }
  @media only screen and (min-width: 800px) {
    .margin-align-center {
      margin: 0 auto;
      width: 75%;
    }
  }

  .flex-align-middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .flex {
    display: flex;
  }

  .pad-lr {
      padding-left: 2rem;
      padding-right: 2rem;
  }

  @media only screen and (min-width: 800px) {
    .pad-lr {
        padding-left: 4rem;
        padding-right: 4rem;
    }
  }

  .pad-tb {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  @media only screen and (max-width: 600px) {
    .pad-tb-tiny {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }


  @media only screen and (max-width: 600px) {
    .pad-tb-mobile {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }

  .pad-tb-small {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @media only screen and (min-width: 800px) {
    .pad-tb-small {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }

  .margin-clear {
    margin: 0;
  }

  .margin-top-neg {
    margin-top: -10%;
  }

  .fixed {
    position: fixed;
  }

  .img-width {
    width: 50%;
  }

  .border-r {
    border-right:1px solid #2B394A;
  }

  @media only screen and (min-width: 800px) {
    .img-width {
      width: 30%;
    }
  }

  @media only screen and (min-width: 1024px) {
    .img-width {
      width: 60%;
    } 
  }


  /* Icons */

  .fab, .fas {
    color: black;
  }

  .fa-bars {
    color: black;
  }

  .fab-blue {
    color: #2B394A;
  }

  .square {
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 4px 0;
    background-color: white;
  }

  .square:hover{
    box-shadow: 0 0 8px 0;
    background-color: #f6f6f8;
    transform: scale(1.1);
    transition: transform 100ms;
  }

 /* Buttons */

  .btn1 {
    cursor: pointer;
    background-color: #FDA5A4;
    border-radius: 5px;
    padding: 1em 1.25em;
    border: 2px solid;
    color: #2B394A;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .btn1:hover {
    background-color: white;
    color: #2B394A;
    transition: 400ms ease-out;
  }

  .btn2 {
    cursor: pointer;
    background-color: white;
    color: #2B394A;
    border-radius: 5px;
    border: 1px solid;
    width: 40%;
    margin: 1em auto;
    padding: 0.75em;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 95%;
  }

  .btn2:hover{
    transform: scale(1.05);
    opacity: 100%;
    transition: all 200ms;
  }

  .btn3 {
    flex: 1;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .btn3:hover {
    background-color: white;
    transition: all 200ms;
  }

  #hamburgerBtn {
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 10;
  }


/* toggle hamburger menu */
@media only screen and (max-width: 1024px) { 
  #hamburgerBtn {
    display: block;
  }  

  .full-width-mobile {
    width: 100%;
  }  
  
  .closed {
    transform: translateX(-100%);
    transition: transform 400ms;
  }

  .open {
    transform: translateX(0);
    transition: transform 400ms;
  }
}

@media only screen and (min-width: 1024px) {
  #hamburgerBtn {
    display: none;
  }  

  .border-left {
    box-shadow: 1px 0px 0px 0px inset;
  }
}

#typing {
  position: relative;
  margin-left: 10px;
}

#typing::after {
  content: "";
  position: relative;
  right: -5px;
  width: 1px;
  height: 5%;
  border-right: 2px solid white;
  animation: blink 0.5s infinite ease;
}

.without-after-element::after {
  content: none!important;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}