html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 992px) {
  .w-90 {
    width: 90%!important;
  }
}
  /* Colors */

  .color-white {
    color: white!important;
  }

  /* Icons */

  .fab, .fas {
    color: black;
  }

  .fa-xl {
    font-size: 2.33em!important;
  }

  .fab-red {
    color: #ffffff;
  }